* {
  margin: 0;
  padding: 0;
  cursor: url(../img/Cursor.png), auto; }

/*----------------AUXILIARES----------------*/
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #071821; }

.centrar {
  width: 85%;
  margin: 0 auto; }

.columnas {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

section p {
  margin: 1em 0;
  font-size: 1.2em; }

a {
  text-decoration: none;
  color: #071821; }

.carousel-control {
  width: 0;
  opacity: 0; }

/*----------------TEXTO Y COLOR----------------*/
.titulos, .c3 > div > h2, .c5 h2 {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 2px;
  color: #071821; }

.grid-layout {
  display: grid;
  grid-template-areas: 'header header' 'info info' 'contenido contenido' 'trabajos trabajos' 'motivacion motivacion' 'footer footer';
  grid-template-rows: auto auto 80vh auto 5% auto; }

/*----------------HEADER----------------*/
.c1 {
  grid-area: header;
  background-color: #071821; }
  .c1 a {
    color: #fff; }
    .c1 a img {
      margin-top: 1em;
      margin-bottom: 1em;
      transition: all 1.5s ease-in-out; }
      .c1 a img:hover {
        transform: rotate(360deg); }

/*----------------MENU----------------*/
header > div {
  align-items: center; }

header ul {
  list-style-type: none;
  display: flex;
  margin-bottom: 0; }

header ul li a {
  text-decoration: none;
  display: block;
  padding: 15px 20px;
  color: #071821;
  text-transform: uppercase;
  letter-spacing: .20rem; }
  header ul li a:hover {
    text-decoration: line-through;
    text-decoration-color: #ff6347; }

.navbar {
  margin-bottom: 0px; }

.navbar-collapse {
  box-shadow: none; }

/*----------------SECCION 1 / ----------------*/
.c2 {
  grid-area: info;
  align-self: center; }

#section1 {
  width: 40%;
  margin-top: 10%; }
  #section1 img {
    margin-right: 1em; }

#section1:last-child {
  align-self: center; }

#presen img {
  width: 100%;
  margin-top: 10%; }

#redes {
  border-radius: 30px;
  align-items: flex-end;
  background-color: #071821;
  margin-bottom: 6%; }
  #redes img {
    width: 3%;
    display: inline;
    margin: 1em; }

/*----------------SECCION 2 / ----------------*/
.c3 {
  grid-area: contenido;
  background-color: #071821;
  background-image: url(../img/Trabajo.jpg);
  background-repeat: no-repeat;
  background-position: right; }

.c3 > div {
  background-color: #fff;
  padding: 2em;
  margin-left: 8em;
  width: 65%;
  box-shadow: 1px 2px 15px -1px rgba(66, 66, 66, 0.56); }

.c3 img {
  width: 5%; }

.c3 h2 {
  padding: 2% 0; }

.c3 p {
  margin-bottom: 3em; }

.c3 button {
  padding-left: 2em; }

.boton1 {
  background-color: #071821;
  padding: 10px;
  color: #fff; }
  .boton1:hover {
    background-color: #ff6347;
    color: #071821;
    text-decoration: none; }

.accordion-button {
  font-size: 2rem; }

.accordion-header {
  border-bottom: 0.5px solid lightgray;
  border-top: 0.5px solid lightgray;
  padding-left: 1em; }

/*----------------SECCION 3 / ----------------*/
.c4 {
  grid-area: trabajos;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .c4 article {
    text-align: center;
    margin-top: 6em; }

/*----------------SECCION 4 / ----------------*/
.c5 {
  grid-area: motivacion;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: .5em;
  flex-wrap: wrap; }
  .c5 a {
    color: #071821;
    font-weight: 600;
    font-size: 22px; }
    .c5 a:hover {
      color: #ff6347; }

.c5 img {
  width: 100%; }

.c5 h2 {
  margin-top: 2em;
  margin-bottom: 2em; }

/*----------------FOOTER----------------*/
.c6 {
  grid-area: footer;
  background-color: #071821; }
  .c6 div {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 3%;
    padding-top: 1.5em;
    padding-bottom: 1.5em; }
    .c6 div a {
      color: #fff;
      padding-right: .5em;
      font-size: small; }
      .c6 div a:hover {
        text-decoration: line-through;
        text-decoration-color: #ff6347; }

.c6 div a:last-child {
  padding-right: 10em; }

* {
  margin: 0;
  padding: 0;
  cursor: url(../img/Cursor.png), auto; }

/*----------------AUXILIARES----------------*/
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #071821; }

.centrar {
  width: 85%;
  margin: 0 auto; }

.columnas {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

section p {
  margin: 1em 0;
  font-size: 1.2em; }

a {
  text-decoration: none;
  color: #071821; }

.carousel-control {
  width: 0;
  opacity: 0; }

/*----------------TEXTO Y COLOR----------------*/
.titulos, .c3 > div > h2, .c5 h2 {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 2px;
  color: #071821; }

.grid-layout2 {
  display: grid;
  grid-template-areas: 'header header'  'contenido4 contenido4' 'footer footer'; }

/*----------------HEADER----------------*/
.c1 {
  grid-area: header;
  background-color: #071821; }
  .c1 a {
    color: #fff; }
    .c1 a img {
      margin-top: 1em;
      margin-bottom: 1em;
      transition: all 1.5s ease-in-out; }
      .c1 a img:hover {
        transform: rotate(360deg); }

/*----------------MENU----------------*/
header > div {
  align-items: center; }

header ul {
  list-style-type: none;
  display: flex;
  margin-bottom: 0; }

header ul li a {
  text-decoration: none;
  display: block;
  padding: 15px 20px;
  color: #071821;
  text-transform: uppercase;
  letter-spacing: .20rem; }
  header ul li a:hover {
    text-decoration: line-through;
    text-decoration-color: #ff6347; }

.navbar {
  margin-bottom: 0px; }

.navbar-collapse {
  box-shadow: none; }

/*----------------Portfolio----------------*/
.c10 {
  grid-area: contenido4;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 3%; }

.c10 article {
  width: 500px;
  height: 500px;
  padding: 2em;
  margin: 2em;
  -webkit-box-shadow: 0px 0px 10px 0px #949494;
  -moz-box-shadow: 0px 0px 10px 0px #949494;
  box-shadow: 0px 0px 10px 0px #949494; }

.c10 article img {
  margin-top: 2em;
  width: 100%; }

/*----------------FOOTER----------------*/
.c6 {
  grid-area: footer;
  background-color: #071821; }
  .c6 div {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 3%;
    padding-top: 1.5em;
    padding-bottom: 1.5em; }
    .c6 div a {
      color: #fff;
      padding-right: .5em;
      font-size: small; }
      .c6 div a:hover {
        text-decoration: line-through;
        text-decoration-color: #ff6347; }

.c6 div a:last-child {
  padding-right: 10em; }

* {
  margin: 0;
  padding: 0;
  cursor: url(../img/Cursor.png), auto; }

/*----------------AUXILIARES----------------*/
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #071821; }

.centrar {
  width: 85%;
  margin: 0 auto; }

.columnas {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

section p {
  margin: 1em 0;
  font-size: 1.2em; }

a {
  text-decoration: none;
  color: #071821; }

.carousel-control {
  width: 0;
  opacity: 0; }

/*----------------TEXTO Y COLOR----------------*/
.titulos, .c3 > div > h2, .c5 h2 {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 2px;
  color: #071821; }

.grid-layout5 {
  display: grid;
  grid-template-areas: 'header header' 'contenido5 contenido5' 'form form' 'footer footer'; }

/*----------------HEADER----------------*/
.c1 {
  grid-area: header;
  background-color: #071821; }
  .c1 a {
    color: #fff; }
    .c1 a img {
      margin-top: 1em;
      margin-bottom: 1em;
      transition: all 1.5s ease-in-out; }
      .c1 a img:hover {
        transform: rotate(360deg); }

/*----------------MENU----------------*/
header > div {
  align-items: center; }

header ul {
  list-style-type: none;
  display: flex;
  margin-bottom: 0; }

header ul li a {
  text-decoration: none;
  display: block;
  padding: 15px 20px;
  color: #071821;
  text-transform: uppercase;
  letter-spacing: .20rem; }
  header ul li a:hover {
    text-decoration: line-through;
    text-decoration-color: #ff6347; }

.navbar {
  margin-bottom: 0px; }

.navbar-collapse {
  box-shadow: none; }

/*----------------FORMULARIO----------------*/
.c7 {
  grid-area: form; }

form {
  margin: 10em; }
  form label {
    font-size: medium; }

.form-control {
  border: none;
  border-radius: 0;
  color: #071821; }

.btn-success, .btn-info {
  background-color: #071821; }

.btn-success:hover, .btn-info:hover {
  color: #ff6347;
  background-color: #071821; }

.btn-default:hover {
  background-color: #ff6347; }

fieldset {
  padding: 20px;
  box-shadow: 1px 1px 11px 1px rgba(7, 24, 33, 0.43);
  -webkit-box-shadow: 1px 1px 11px 1px rgba(7, 24, 33, 0.43);
  -moz-box-shadow: 1px 1px 11px 1px rgba(7, 24, 33, 0.43);
  width: 50%; }

/*----------------Sobre Mi----------------*/
.c11 {
  grid-area: contenido5; }

/*----------------FOOTER----------------*/
.c6 {
  grid-area: footer;
  background-color: #071821; }
  .c6 div {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 3%;
    padding-top: 1.5em;
    padding-bottom: 1.5em; }
    .c6 div a {
      color: #fff;
      padding-right: .5em;
      font-size: small; }
      .c6 div a:hover {
        text-decoration: line-through;
        text-decoration-color: #ff6347; }

.c6 div a:last-child {
  padding-right: 10em; }

* {
  margin: 0;
  padding: 0;
  cursor: url(../img/Cursor.png), auto; }

/*----------------AUXILIARES----------------*/
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #071821; }

.centrar {
  width: 85%;
  margin: 0 auto; }

.columnas {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

section p {
  margin: 1em 0;
  font-size: 1.2em; }

a {
  text-decoration: none;
  color: #071821; }

.carousel-control {
  width: 0;
  opacity: 0; }

/*----------------TEXTO Y COLOR----------------*/
.titulos, .c3 > div > h2, .c5 h2 {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 2px;
  color: #071821; }

.grid-layout3 {
  display: grid;
  grid-template-areas: 'header header' 'contenido2 contenido2'  'footer footer';
  grid-template-rows: auto auto auto; }

/*----------------HEADER----------------*/
.c1 {
  grid-area: header;
  background-color: #071821; }
  .c1 a {
    color: #fff; }
    .c1 a img {
      margin-top: 1em;
      margin-bottom: 1em;
      transition: all 1.5s ease-in-out; }
      .c1 a img:hover {
        transform: rotate(360deg); }

/*----------------MENU----------------*/
header {
  margin-bottom: 2em; }

header > div {
  align-items: center; }

header ul {
  list-style-type: none;
  display: flex;
  margin-bottom: 0; }

header ul li a {
  text-decoration: none;
  display: block;
  padding: 15px 20px;
  color: #071821;
  text-transform: uppercase;
  letter-spacing: .20rem; }
  header ul li a:hover {
    text-decoration: line-through;
    text-decoration-color: #ff6347; }

.navbar {
  margin-bottom: 0px; }

.navbar-collapse {
  box-shadow: none; }

/*----------------INFO----------------*/
.c8 {
  grid-area: contenido2;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px; }

.c8 figure {
  position: relative;
  overflow: hidden; }

.c8 figure img {
  width: 100%;
  height: 100%; }

.c8 figure .capa {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(7, 24, 33, 0.9);
  transition: all 400ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center; }

.c8 figure:hover > .capa {
  opacity: 1;
  visibility: visible; }

.c8 figure:hover > .capa h3 {
  margin-top: 70px;
  margin-bottom: 15px; }

.c8 figure .capa h3 {
  color: white;
  font-weight: 400;
  margin-bottom: 120px;
  transition: all 400ms ease-out;
  margin-top: 30px; }

/*----------------FOOTER----------------*/
.c6 {
  grid-area: footer;
  background-color: #071821; }
  .c6 div {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 3%;
    padding-top: 1.5em;
    padding-bottom: 1.5em; }
    .c6 div a {
      color: #fff;
      padding-right: .5em;
      font-size: small; }
      .c6 div a:hover {
        text-decoration: line-through;
        text-decoration-color: #ff6347; }

.c6 div a:last-child {
  padding-right: 10em; }

* {
  margin: 0;
  padding: 0;
  cursor: url(../img/Cursor.png), auto; }

/*----------------AUXILIARES----------------*/
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #071821; }

.centrar {
  width: 85%;
  margin: 0 auto; }

.columnas {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

section p {
  margin: 1em 0;
  font-size: 1.2em; }

a {
  text-decoration: none;
  color: #071821; }

.carousel-control {
  width: 0;
  opacity: 0; }

/*----------------TEXTO Y COLOR----------------*/
.titulos, .c3 > div > h2, .c5 h2 {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 2px;
  color: #071821; }

.grid-layout4 {
  display: grid;
  grid-template-areas: 'header header' 'contenido3 contenido3'  'footer footer';
  grid-template-rows: auto auto auto; }

/*----------------HEADER----------------*/
.c1 {
  grid-area: header;
  background-color: #071821; }
  .c1 a {
    color: #fff; }
    .c1 a img {
      margin-top: 1em;
      margin-bottom: 1em;
      transition: all 1.5s ease-in-out; }
      .c1 a img:hover {
        transform: rotate(360deg); }

/*----------------MENU----------------*/
header > div {
  align-items: center; }

header ul {
  list-style-type: none;
  display: flex;
  margin-bottom: 0; }

header ul li a {
  text-decoration: none;
  display: block;
  padding: 15px 20px;
  color: #071821;
  text-transform: uppercase;
  letter-spacing: .20rem; }
  header ul li a:hover {
    text-decoration: line-through;
    text-decoration-color: #ff6347; }

.navbar {
  margin-bottom: 0px; }

.navbar-collapse {
  box-shadow: none; }

/*----------------UXUI----------------*/
.c9 {
  grid-area: contenido3;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.c9 article {
  width: 500px;
  padding: 2em;
  margin: 2em;
  -webkit-box-shadow: 0px 0px 10px 0px #949494;
  -moz-box-shadow: 0px 0px 10px 0px #949494;
  box-shadow: 0px 0px 10px 0px #949494; }

.c9 article img {
  margin-top: 2em;
  width: 100%; }

.c9 article:last-child img {
  margin-top: 120px; }

/*----------------FOOTER----------------*/
.c6 {
  grid-area: footer;
  background-color: #071821; }
  .c6 div {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 3%;
    padding-top: 1.5em;
    padding-bottom: 1.5em; }
    .c6 div a {
      color: #fff;
      padding-right: .5em;
      font-size: small; }
      .c6 div a:hover {
        text-decoration: line-through;
        text-decoration-color: #ff6347; }

.c6 div a:last-child {
  padding-right: 10em; }

/*----------------FIN :)----------------*/
