*{
    margin: 0;
    padding: 0;
    cursor:url(../img/Cursor.png), auto;
}

/*----------------AUXILIARES----------------*/

$colores: (
    color1: #071821,
    color2: #ff6347,
    color3: #fff,
);

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: map-get($colores, color1);
}

.grid-layout {
    display: grid;
    grid-template-areas: 'header header'
                         'info info'
                         'contenido contenido'
                         'trabajos trabajos'
                         'motivacion motivacion'
                         'footer footer';
    grid-template-rows: auto 92vh 80vh auto 5% auto;
}

.grid-layout2 {
    display: grid;
    grid-template-areas: 'header header' 
                         'form form'
                         'footer footer';
}

.grid-layout3 {
    display: grid;
    grid-template-areas: 'header header'
                         'contenido2 contenido2' 
                         'footer footer';
    grid-template-rows: auto auto auto;
}

.grid-layout4 {
    display: grid;
    grid-template-areas: 'header header'
                         'contenido3 contenido3' 
                         'footer footer';
    grid-template-rows: auto auto auto;
}

.centrar {
    width: 85%;
    margin: 0 auto;
}

.columnas {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

section p {
    margin: 1em 0;
    font-size: 1.2em;
}

a {
    text-decoration: none;
    color: map-get($colores, color1);
}

.carousel-control {
    width: 0;
    opacity: 0;
}

@mixin flex-row-center {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}



/*----------------TEXTO Y COLOR----------------*/

.titulos {
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 2px;
    color: map-get($colores, color1);
}

/*----------------BOTONES GENERALES----------------*/

/*----------------HEADER----------------*/
.c1 {
    grid-area: header;
    background-color: map-get($colores, color1);
    a {
        color: map-get($colores, color3);
        img {
            margin-top: 1em;
             margin-bottom: 1em;
            transition: all 1.5s ease-in-out;
            &:hover {
                transform: rotate(360deg);
            }
        }
    }
}

/*----------------MENU----------------*/

header > div {
    align-items: center;
}

header ul {
    list-style-type: none;
    display: flex;
    margin-bottom: 0;
 }

header ul li a {
    text-decoration: none;
    display: block;
    padding: 15px 20px;
    color: map-get($colores, color1);
    text-transform: uppercase;
    letter-spacing: .20rem;
    &:hover {
        text-decoration:line-through;
        text-decoration-color: map-get($colores, color2);
    }
}

/*----------------SECCION 1 / ----------------*/
.c2 {
    grid-area: info;
    align-self: center;
}

#section1 {
    width: 40%;
    img {
        margin-right: 1em;
    }
}

#section1:last-child {
    align-self: center;
}

#redes {
    align-items: flex-end;
    img {
        width: 3%;
        display: inline;
        margin: 1em;
    }
}

/*----------------SECCION 2 / ----------------*/
.c3 {
    grid-area: contenido;
    background-color: map-get($colores, color1);
    background-image: url(../img/Trabajo.jpg);
    background-repeat: no-repeat;
    background-position: right
    ;
}

.c3 > div {
    background-color: map-get($colores, color3);
    padding: 2em;
    margin-left: 8em;
    width: 34%;
    box-shadow: 1px 2px 15px -1px rgba(66,66,66,0.56);
} 

.c3>div>h2 {
    @extend .titulos;
}

.c3 img {
    width: 5%;
}

.c3 h2 {
    padding: 2% 0;
}

.c3 p {
    margin-bottom: 3em;
}

.c3 button {
    padding-left: 2em;
}

.boton1 {
    background-color: map-get($colores, color1);
    padding: 10px;
    color: map-get($colores, color3);
    &:hover {
        background-color: map-get($colores, color2);
        color: map-get($colores, color1);
        text-decoration: none;
    }
}

.accordion-button {
    font-size: 2rem;
}

.accordion-header {
    border-bottom: 0.5px solid lightgray;
    border-top: 0.5px solid lightgray;
    padding-left: 1em;
}

/*----------------SECCION 3 / ----------------*/
.c4 {
    grid-area: trabajos;
    @include flex-row-center;
    article {
        text-align: center;
        margin-top: 6em;
    }
}

/*----------------SECCION 4 / ----------------*/
.c5 {
    grid-area: motivacion;
    @include flex-row-center;
    align-items: center;
    gap: .5em;
    flex-wrap: wrap;
    a {
        color: map-get($colores, color1);
        font-weight: 600;
        font-size: 22px;
        &:hover {
            color: map-get($colores, color2);
        }
    }
}

.c5 img {
    width: 100%;
}

.c5 h2 {
    @extend .titulos;
    margin-top: 2em;
    margin-bottom: 2em;
}

/*----------------FORMULARIO----------------*/

form {
    margin: 10em;
    label {
        font-size: medium;
    }
}

.form-control {
    border: none;
    border-radius: 0;
    color: map-get($colores, color1);
}

.btn-success, .btn-info {
    background-color: map-get($colores, color1);
}

.btn-success:hover, .btn-info:hover {
    color: map-get($colores, color2);
    background-color: map-get($colores, color1);
}

.btn-default:hover {
    background-color: map-get($colores, color2);
}


/*----------------FOOTER----------------*/
.c6 {
    grid-area: footer;
    background-color: map-get($colores, color1);
    div {
        display: flex;
        flex-direction: row;
        justify-content: end;
        gap: 3%;
        padding-top: 1.5em;
        padding-bottom: 1.5em;
        a {
            color: map-get($colores, color3);
            padding-right: .5em;
            font-size: small;
            &:hover {
                text-decoration:line-through;
                text-decoration-color: map-get($colores, color2);
            }
        }
    }
}

.c6 div a:last-child {
    padding-right: 10em;
}

/*----------------SECCION Logofolio / ----------------*/

.c8 {
    grid-area: contenido2;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    margin-top: 2em;
}

.c8 article div {
    width: 260px;
}

.c8 article div h3 {
    font-weight: 500;
}

.c8 article div p {
    margin: 0 auto;
    font-size: small;
}

.card_imagen {
        display: block;
        height: 200px;
        margin: 0 auto;
        width: 100%;
        transform: scale(.9);
	    transition: .3s ease-in-out;
}

.card_imagen:hover {
    transform: scale(1);
}


.c9 {
    grid-area: contenido3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.c9 article {
    width: 500px;
    padding: 2em;
    margin: 2em;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(148,148,148,1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(148,148,148,1);
    box-shadow: 0px 0px 10px 0px rgba(148,148,148,1);
}

.c9 article img {
    margin-top: 2em;
    width: 100%;
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.c9 article img:hover {
    -webkit-filter: grayscale(0);
	filter: grayscale(0);
}

/*----------------FIN :)----------------*/